#GRBOARD2 {
	font-size: 12px;
	color: #555;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
}

#GRBOARD2 a {
	text-decoration: none;
	color: #3e3e3e;
}

#GRBOARD2 a:hover {
	color: #2aa;
}

#GRBOARD2 div.category {
	border-top: #dfdfdf 1px solid;
	padding: 10px;
}

#GRBOARD2 div.category span {
	color: #ddd;
	font-weight: bold;
}

/* LIST */

#GRBOARD2 table {
	width: 100%;
	border: 0 none;
}

#GRBOARD2 col.no {
	width: 45px;
}

#GRBOARD2 col.name {
	width: 85px;
}

#GRBOARD2 col.date {
	width: 80px;
}

#GRBOARD2 col.hit {
	width: 45px;
}

#GRBOARD2 th {
	color: #666;
	text-align: center;
	padding: 10px;
	border-top: #dfdfdf 1px solid;
	border-bottom: #dadada 2px solid;
}

#GRBOARD2 th.no {
	border-left: #dfdfdf 1px solid;
}

#GRBOARD2 th.hit {
	border-right: #dadada 1px solid;
}

#GRBOARD2 td {
	text-align: center;
	font-size: 12px;
	padding: 7px 0 7px 0;
	border-bottom: #eee 1px solid;
}

#GRBOARD2 tr.notice td {
	background-color: #ffffe7;
}

#GRBOARD2 td.no,
#GRBOARD2 td.date,
#GRBOARD2 td.hit {
	font-size: 11px;
	font-family: tahoma, sans-serif;
	color: #777
}

#GRBOARD2 td.subject {
	text-align: left;
}

#GRBOARD2 td.subject span {
	font-size: 11px;
	font-family: tahoma, sans-serif;
	color: #2cc;
}

#GRBOARD2 footer {
	position: relative;
}

#GRBOARD2 ul.pages {
	margin: 0;
	padding: 10px 5px;
}

#GRBOARD2 ul.pages li {
	list-style: none;
	display: inline;
}

#GRBOARD2 ul.pages li a {
	border-right: #eee 1px solid;
	padding: 3px 5px 3px 3px; 
}

#GRBOARD2 ul.buttons {
	margin: 0;
	padding: 10px 5px;
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	text-align: right;
}

#GRBOARD2 ul.buttons li {
	list-style: none;
	display: inline;
}

#GRBOARD2 ul.buttons li a {
	padding: 5px 5px 5px 10px;
}

#GRBOARD2 .searchBox {
	padding: 20px;
	text-align: center;
}

#GRBOARD2 .searchInput {
	margin: auto;
}

#GRBOARD2 .searchInput input[type=search] {
	border: #ccc 1px solid;
	width: 150px;
	font-size: 12px;
	padding: 2px;
}

#GRBOARD2 .searchInput input[type=submit] {
	border: 0 none;
	font-weight: bold;
	background-color: transparent;
	padding: 2px;
	color: #666;
}

/* VIEW */

#GRBOARD2 h2.title {
	border: #dfdfdf 1px solid;
	border-bottom: #dadada 2px solid;
	font-size: 12px;
	padding: 15px;
}

#GRBOARD2 div.info {
	border-bottom: #ddd 1px solid;
	position: relative;
	height: 28px;
}

#GRBOARD2 ul.info {
	position: absolute;
	width: 400px;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	text-align: right;
}

#GRBOARD2 ul.info li {
	display: inline;
	padding: 0 10px 0 0;
	color: #777;
	font-family: tahoma, sans-serif;
}

#GRBOARD2 div.content {
	padding: 10px 0 10px 0;
	line-height: 170%;
	overflow: hidden;
}

#GRBOARD2 div.content ul.fileList {
	padding: 0;
	margin: -10px 0 10px 0;
	border-bottom: #ddd 1px solid;
	background-color: #ffffec;
}

#GRBOARD2 div.content ul.fileList li {
	list-style: none;
}

#GRBOARD2 ul.fileList li a {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}

#GRBOARD2 div.content img.download {
	cursor: pointer;
}

#GRBOARD2 div.tag {
	margin: 15px 0 15px 0;
	background-color: #fafafa;
	padding: 5px;
	color: #999;
}

#GRBOARD2 div.replyBox div.replyList {
	line-height: 170%;
	border-top: #ccc 1px solid;
}

#GRBOARD2 div.replyBox div.replyList div.replyWriter {
	background-color: #fafafa;
	padding: 10px 0 10px 10px;
}

#GRBOARD2 div.replyBox div.replyList div.replyWriter a.remove {
	color: red;
	font-size: 11px;
}

#GRBOARD2 div.replyBox div.replyList div.replyWriter strong {
	cursor: pointer;
}

#GRBOARD2 div.replyBox div.replyList div.replyWriter a.checkReply {
	font-size: 11px;
	font-weight: bold;
}

#GRBOARD2 div.replyBox div.replyContent {
	padding: 10px;
}

#GRBOARD2 ul.viewBottoms {
	margin: 0 0 10px 0;
	padding: 10px;
	text-align: right;
}

#GRBOARD2 ul.viewBottoms li {
	display: inline;
	padding: 10px 10px 10px 15px;
	border-left: #eee 1px solid;
}

#GRBOARD2 ul.viewBottoms li a {
	font-weight: bold;
}

#GRBOARD2 div.inputReply {
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
}

#GRBOARD2 ul.inputs {
	margin: 10px;
	padding: 0;
}

#GRBOARD2 ul.inputs li {
	list-style: none;
}

#GRBOARD2 ul.inputs li input {
	border: #ddd 1px solid;
	font-size: 12px;
	padding: 5px;
	margin: 0 0 3px 0;
	width: 160px;
}

#GRBOARD2 ul.inputs li input[type=checkbox] {
	border: 0 none;
	width: 18px;
}

#GRBOARD2 ul.inputs textarea {
	border: #ddd 1px solid;
	padding: 5px;
	font-size: 12px;
	width: 98%;
	height: 100px;
	margin: 10px 0 10px 0;
}

#GRBOARD2 ul.inputs li input[type=submit] {
	border: #2aa 1px solid;
	padding: 10px;
	background-color: #2cc;
	color: #fff;
	width: 100px;
}

/* WRITE */

#GRBOARD2 div.boardWriteBox ul li {
	list-style: none;
}

#GRBOARD2 div.boardWriteBox ul li input {
	padding: 5px;
	border: #ccc 1px solid;
	width: 200px;
	font-size: 12px;
	border-radius: 3px;
	margin: 5px 0 0 0;
}

#GRBOARD2 ul.gr2fileList {
	margin: 10px 10px 15px 0px;
}

#GRBOARD2 ul.gr2fileList li {
	list-style: none;
	letter-spacing: -1px;
}

#GRBOARD2 div.boardWriteBox ul li input[type=checkbox] {
	width: 18px;
	border: 0 none;
}

#GRBOARD2 div.boardWriteBox ul li input.longWidth {
	width: 450px;
}

#gr2content {
	width: 500px;
	height: 300px;
	padding: 5px;
	font-size: 12px;
	line-height: 160%;
}

#GRBOARD2 div.boardWriteBox input[type=submit],
#GRBOARD2 div.boardWriteBox a {
	border: #2aa 1px solid;
	padding: 10px;
	background-color: #2cc;
	color: #fff;
	width: 100px;
	vertical-align: middle;
	cursor: pointer;
	height: 34px;
}

#GRBOARD2 div.boardWriteBox a {
	vertical-align: middle;
	background-color: #499;
}

#gr2dndUpload {
	position: relative;
	border: #ddd 2px dashed;
	text-align: center;
	height: 100px;
	border-radius: 10px;
	margin: 5px 20px 10px 0px;
	color: #aaa;
	width: 510px;
	overflow: auto;
	background-color: #ffffe7;
}

#gr2dndMsg {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #999;
}

#gr2dndUpload img {
	position: relative;
	border: 0 none;
	width: 80px;
	height: 80px;
	float: left;
}

#gr2dndUpload a {
	float: left;
}

#gr2dndUpload.hover {
	border: green 2px dashed;
	color: green;
}

/* DELETE */

#GRBOARD2 div.boardDeleteBox div.deleteMsg {
	padding: 20px;
	margin: 0 0 20px 0;
}

#GRBOARD2 div.boardDeleteBox div.originalMsg {
	margin: 15px 0 0 0;
	border: #eee 1px solid;
	background-color: #ffffe7;
	padding: 10px;
	line-height: 160%;
}

#GRBOARD2 div.boardDeleteBox input[type=submit],
#GRBOARD2 div.boardDeleteBox a {
	border: #2aa 1px solid;
	padding: 10px;
	background-color: #2cc;
	color: #fff;
	width: 100px;
	vertical-align: middle;
	cursor: pointer;
	height: 34px;
}

#GRBOARD2 div.boardDeleteBox a {
	vertical-align: middle;
	background-color: #499;
}

/* COMMON CLASS */

#GRBOARD2 .red { color: red; }
#GRBOARD2 .green { color: green; }
#GRBOARD2 .modifyTime { color: #999; font-size: 11px; }
#GRBOARD2 .clear { clear: left; }